---
// src/pages/contact.astro
import Layout from '../layouts/RedTheme.astro';
---
<Layout title="연락처">
  <main>
    <h1>문의하기</h1>
    <form>
      <input type="text" placeholder="이름" />
      <button>전송</button>
    </form>
  </main>
</Layout>
