---
// 서버에서 빌드 시점에 한번만 실행됨
import '../styles/global.css';
const theme = import.meta.env.SITE_THEME;
const bgColor = theme === 'theme-red' ? 'bg-red-100' : 'bg-blue-100';
---


<html lang="ko">
	<head>
		<title>{theme} 테스트</title>
	</head>
	<body class={`flex items-center justify-center h-screen text-white font-bold ${bgColor}`}>
		<h1 class="text-4xl">현재 테마: {theme}</h1>
	</body>
</html>
